@import '../App.scss';

.login,
.sign-up {
  height: 100vh;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background-color: $lighest-grey;

  &__heading {
    margin: 1rem 0;
  }

  &__status {
    color: $dark-orange;
    text-align: center;
  }

  &__container {
    max-width: 500px;
    margin: auto;
    background-color: $white;
    padding: 2rem;
    border-radius: 10px;
  }

  &__input {
    margin-bottom: 1rem !important;
  }

  &__submit-btn {
    @include block-button-orange;
    width: 100%;
    margin: 1rem 0;
  }
}
