/* SASS colour and font variables */

$black: #000000;
$white: #ffffff;
$lighest-grey: #fafafa;
$light-grey: #f1f1f1;
$darker-grey: #a3a3a3;
$darkest-grey: #616161;
$light-orange: #fbaf85;
$dark-orange: #d87d4a;
$warning-red: rgb(211, 20, 20);

$font-family: 'Manrope', sans-serif;

/* Responsive breakpoints */

$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;
$very-large-desktop: 1500px;
